$light-color: #C8C8C8;




.wrap {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    
}


.page {
    &__title {
        text-align: center;
    }
}




.image-block {
    text-align: center;
}


.block-comments {
    margin-top: 50px;
    border: 1px solid red;
    &__name {
        display: inline-block;
    }
    &__text {
        display: inline-block;
    }
    &__form {
        display: block;
        width: 500px;
        margin: 0 auto;
        padding: 50px;
        height: 100%;
        border: 1px solid $light-color;
        border-radius: 5px;
        
        input {
            width: 100%;
        }
        &-input {
            &_file {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
        textarea {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        &-button {
            margin-top: 20px;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
    }
}

